.love{
    background-color: green;
}
.care{
    background-color: purple;
    font-size: 50px;
    font-family: fantasy;
    border: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.image{
    width: 400px;
    height: 400px;
    border: 2px solid tomato;
    margin-bottom: 20px;
}
